{% extends "base.html" %} {% block content %} {% set active_page = 'crm' %}

<!-- Header -->
{% include 'partials/header.html' %}

<!-- Main -->
<div class="container-fluid">
    <div class="row">

        <!-- Sidebar -->
        <div class="col-md-3 col-lg-2">
            {% include 'partials/sidebar.html' %}
        </div>

        <!-- Main -->
        <div class="col-md-10">
            <main>
                <div class="pt-2 pb-2 mt-3 mb-3 border-bottom">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="flex-wrap d-flex justify-content-between flex-md-nowrap align-items-center ">
                                <h1 class="m-0 mt-1 mb-3 main-header"><span class="mr-2 fal fa-dice-d6"></span> CRM
                                    Contacts
                                </h1>
                            </div>
                        </div>
                        <div class="col-md-6">
                        </div>
                    </div>
                </div>

                <!-- Tabs -->
                <ul class="mb-3 nav nav-tabs" id="myTab" role="tablist">
                    {% if role.can_view_lead %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('crm_bp.crm')}}">Leads <span
                                class="badge badge-light">{{crm_summary.lead_count}}</span></a>
                    </li>
                    {% endif %} {% if role.can_view_deal %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('crm_bp.deals')}}">Deals <span
                                class="badge badge-light">{{crm_summary.deal_count}}</span></a>
                    </li>
                    {% endif %} {% if role.can_view_crm_accounts %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('crm_bp.accounts')}}">Accounts <span
                                class="badge badge-light">{{crm_summary.account_count}}</span></a>
                    </li>
                    {% endif %} {% if role.can_view_crm_activity %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('crm_bp.activities')}}">Activities</a>
                    </li>
                    {% endif %} {% if role.can_view_crm_contact %}
                    <li class="nav-item">
                        <a class="nav-link active" href="{{url_for('crm_bp.crm_contacts')}}">Contacts</a>
                    </li>
                    {% endif %} {% if role.can_view_crm_settings %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('crm_bp.crm_settings')}}">Settings</a>
                    </li>
                    {% endif %}

                </ul>

                <div class="table-responsive">
                    <div class="table-responsive">
                        <table id="crmcTable" class="display nowrap" style="width:100%">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Contact Name</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                    <th>Account Name</th>
                                    <th>Contact Type</th>
                                    <th>Date Created</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for crm_contact in all_crm_contacts %} {% if crm_contact.contact_owner ==
                                current_user.email or current_user.is_admin %}
                                <tr>
                                    <td>{{crm_contact.contact_id}}</td>
                                    <td>{{crm_contact.contact_name}}</td>
                                    <td>{{crm_contact.email}}</td>
                                    <td>{{crm_contact.phone}}</td>
                                    <td>{{crm_contact.account_name}}</td>
                                    <td>{{crm_contact.contact_role}}</td>
                                    <td>{{crm_contact.date_created.strftime('%d/%m/%Y')}}</td>
                                </tr>
                                {% endif %} {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

            </main>
        </div>

    </div>
</div>


{% endblock %}