{% for harlos_contact in all_contacts %}
<div class="modal fade" id="deleteModal{{harlos_contact.contact_id}}" tabindex="-1" aria-labelledby="deleteModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-sm modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header" style="border-top: 8px solid #dc3545">
                <h5 class="modal-title text-danger" id="exampleModalLabel">Delete Data
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="far fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <form action="{{url_for('contacts_bp.delete_contact')}}" enctype="multipart/form-data" method="POST"
                    class="ml-4 mr-4">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="">Reason to Delete</label>
                                <textarea cols="5" rows="4" class="form-control h-input" name="reason"
                                    required></textarea>
                                <input type="hidden" name="contact_id" value="{{harlos_contact.contact_id}}">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        {% if harlos_contact.contact_id in to_delete_contacts %}
                        <a href="" class="p-2 btn btn-sm btn-warning btn-block">
                            <i class="mr-2 fas fa-info-circle"></i> PENDING
                        </a>
                        {% else %}
                        <button type="submit" class="p-2 btn btn-sm btn-danger btn-block">
                            <i class="mr-2 fas fa-trash"></i> DELETE
                        </button>
                        {% endif %}
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
{% endfor %}