{% for stock in stocks %}
<div class="modal fade" id="SdeleteModal{{stock.container_id}}" tabindex="-1" aria-labelledby="SdeleteModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-sm modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header" style="border-top: 8px solid #dc3545">
                <h5 class="modal-title text-danger" id="exampleModalLabel">Delete Data
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="far fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <form action="{{url_for('stock_bp.delete_container')}}" enctype="multipart/form-data" method="POST"
                    class="ml-4 mr-4">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="">Reason to Delete</label>
                                <textarea cols="5" rows="4" class="form-control h-input" name="reason"
                                    required></textarea>
                                <input type="hidden" name="container_id" value="{{stock.container_id}}">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        {% if stock.container_id in d_stocks %}
                        <a href="" class="p-2 btn btn-block btn-sm btn-warning">
                            <i class="mr-2 fas fa-info-circle"></i> PENDING
                        </a>
                        {% else %}
                        <button class="p-2 btn btn-block btn-sm btn-danger">
                            <i class="mr-2 fas fa-trash"></i> DELETE
                        </button>
                        {% endif %}

                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
{% endfor %}