{% extends "base.html" %} {% block content %} {% set active_page = 'stock' %}

<!-- Header -->
{% include 'partials/header.html' %}

<!-- Main -->
<div class="container-fluid">
    <div class="row">

        <!-- Sidebar -->
        <div class="col-md-3 col-lg-2">
            {% include 'partials/sidebar.html' %}
        </div>

        <!-- Main -->
        <div class="col-md-10">
            <main>
                <div class="pt-2 pb-2 mt-3 mb-3 border-bottom">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="flex-wrap d-flex justify-content-between flex-md-nowrap align-items-center ">
                                <h1 class="m-0 mt-1 mb-3 main-header"><span
                                        class="mr-2 fal fa-container-storage"></span> Containers
                            </div>
                        </div>
                        <div class="col-md-6">
                            {% if role.can_add_stock %}
                            <button class="float-right mb-3 shadow-sm btn btn-success h-btn-lg" data-toggle="modal"
                                data-target="#uploadcontModal">
                                Upload CSV <i class="ml-2 fa fa-upload"></i>
                            </button>
                            <button class="float-right mb-3 mr-3 shadow-sm btn btn-success h-btn-lg" data-toggle="modal"
                                data-target="#addcontModal">
                                Add Container <i class="ml-2 fa fa-plus-circle"></i>
                            </button> {% endif %}
                        </div>
                    </div>
                </div>
                {% if role.can_view_stock %}
                <div class="mb-3 row">
                    <div class="col-md-3">
                        <div class="overflow-hidden card btnAvailable">
                            <div style="color: inherit !important; cursor: pointer;" id="stock_available">
                                <div class="row">
                                    <div class="col-md-4" style="background-color: var(--primary-red);">
                                        <i class="mt-4 fad fa-boxes-alt"
                                            style="font-size: 40px; color: #fff;  margin-left: 17px;"></i>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="card-body">
                                            <h6>Available</h6>
                                            <h3 class="m-0"></h3>
                                            <h3 class="m-0">{{stock_summary.available}}</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="overflow-hidden card btnBooked">
                            <div style="color: inherit !important; cursor:pointer" id="stock_booked">
                                <div class="row">
                                    <div class="col-md-4 bg-secondary">
                                        <i class="mt-4 fad fa-box-check"
                                            style="font-size: 40px; color: #fff;  margin-left: 15px;"></i>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="card-body">
                                            <h6>Booked</h6>
                                            <h3 class="m-0"></h3>
                                            <h3 class="m-0">{{stock_summary.booked}}</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="overflow-hidden card btnHold">
                            <div style="color: inherit !important; cursor: pointer;" id="stock_hold">
                                <div class="row">
                                    <div class="col-md-4" style="background-color: var(--primary-red);">
                                        <i class="mt-4 fad fa-warehouse-alt"
                                            style="font-size: 40px; color: #fff;  margin-left: 15px;"></i>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="card-body">
                                            <h6>On Hold</h6>
                                            <h3 class="m-0"></h3>
                                            <h3 class="m-0">{{stock_summary.on_hold}}</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="overflow-hidden card btnOutwards">
                            <div style="color: inherit !important; cursor: pointer;" id="stock_outwards">
                                <div class="row">
                                    <div class="col-md-4 bg-secondary">
                                        <i class="mt-4 fad fa-arrow-circle-up"
                                            style="font-size: 40px; color: #fff;  margin-left: 20px;"></i>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="card-body">
                                            <h6>Outwards</h6>
                                            <h3 class="m-0"></h3>
                                            <h3 class="m-0">{{stock_summary.outwards}}</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="mt-3 col-md-3">
                        <div class="overflow-hidden card btnSold">
                            <div style="color: inherit !important; cursor: pointer;" id="stock_sold">
                                <div class="row">
                                    <div class="col-md-4 bg-secondary">
                                        <i class="mt-4 fad fa-shopping-cart"
                                            style="font-size: 40px; color: #fff;  margin-left: 20px;"></i>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="card-body">
                                            <h6>Sold</h6>
                                            <h3 class="m-0"></h3>
                                            <h3 class="m-0">0</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Tabs -->
                <ul class="mb-3 nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" href="{{url_for('stock_bp.stock')}}">Containers
                            <span class="badge badge-light">{{stock_summary.available}}</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('stock_bp.release_orders')}}">Release Orders</a>
                    </li>
                </ul>

                <div class="mb-3">
                    <!-- SearchPane Button -->
                    <button id="spButton" class="btn h-btn-sm btn-success" type="button" data-toggle="collapse"
                        data-target="#spCont" aria-expanded="false" aria-controls="collapseSP">
                        <i class="mr-2 far fa-search"></i>Advanced Filtering
                    </button>
                </div>

                <div class="table-responsive">
                    <div class="table-responsive">
                        <table id="stockTable" class="display nowrap" style="width:100%">
                            <div class="col-md-6 col-lg-6 col-sm-12 actions" id="actions">
                                <thead>
                                    <tr>
                                        <th class="columnID">ID</th>
                                        <th class="columnPhoto">Photo</th>
                                        <th class="columnNO">Container No.</th>
                                        <th class="columnStatus">Status</th>
                                        <th class="columnSize">Size</th>
                                        <th class="columnCond">Condition</th>
                                        <th class="columnIn">Stock In</th>
                                        <th class="columnIn">Stock Out</th>
                                        <th class="columnSup">Supplier</th>
                                        <th>Deal</th>
                                        <th class="columnPrice">Price</th>
                                        <th class="columnDepot">Depot Days</th>
                                        <th class="columnReason">Reason to Hold</th>
                                        <th class="columnOutwards">Driver Name</th>
                                        <th class="columnOutwards">Driver Licence No.</th>
                                        <th class="columnOutwards">Truck No.</th>
                                        <th class="columnOutwards">Outwards No.</th>
                                        <th class="columnProgess">Progress</th>
                                        <th class="columnActions">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for stock in stocks %}
                                    <tr>
                                        <td>{{stock.container_id}}</td>
                                        {% if not stock.main_image %}
                                        <td>
                                            <div class="thumbnail popover-body" data-toggle="popover-hover"
                                                data-img="{{ url_for( 'static', filename='img/container.png')}}">
                                                <img src="{{ url_for( 'static', filename='img/container.png')}}"
                                                    class="border rounded" alt="container" width="60">
                                            </div>
                                        </td>
                                        {% else %}
                                        <td>
                                            <div class="thumbnail popover-body" data-toggle="popover-hover"
                                                data-img="{{ url_for( 'static', filename=json.loads(stock.main_image)[0])}}">
                                                <img src="{{ url_for( 'static', filename=json.loads(stock.main_image)[0])}}"
                                                    class="border rounded" alt="container" width="60">
                                            </div>
                                        </td>
                                        {% endif %}
                                        <td>
                                            <a href="" data-toggle="modal"
                                                data-target="#viewcontModal_{{stock.container_id}}">
                                                {{stock.number}}
                                                <i class="ml-2 far fa-eye"></i>
                                            </a>
                                        </td>
                                        {% if role.can_edit_stock %}
                                        <td><a href="" data-toggle="modal"
                                                data-target="#statusEditModal{{stock.container_id}}">{{stock.status}}
                                                <i class="ml-2 far fa-pencil-square-o"></i>
                                            </a>
                                        </td>
                                        {% else %}
                                        <td>{{stock.status}}</td>
                                        {% endif %}
                                        <td>{{stock.size}}</td>
                                        <td>{{", ".join(json.loads(stock.condition))}}</td>
                                        <td>
                                            {{stock.stock_in_date.strftime('%d/%m/%Y')}}
                                        </td>
                                        <td>{{stock.release_date.strftime('%d/%m/%Y')}}</td>
                                        <td>{{stock.supplier}}</td>
                                        {% for deal in deals if deal.invoice_number and deal.invoice_number ==
                                        stock.invoice_number %}
                                        <td>{{deal.deal_name}}</td>
                                        {% else %}
                                        <td>No Deal</td>
                                        {% endfor %}
                                        <td>{{stock.sale_price}}</td>
                                        <td>{{stock.depot_days}}</td>
                                        <td class="columnReason">{{stock.on_hold_reason}}</td>
                                        <td class="columnOutwards">{{stock.driver_name}}</td>
                                        <td class="columnOutwards">{{stock.driver_license}}</td>
                                        <td class="columnOutwards">{{stock.truck_no}}</td>
                                        <td class="columnOutwards">{{stock.outward_no}}</td>
                                        {% if stock.status == "Sold" %}
                                        <td>
                                            <div class="mt-3">
                                                <a href="{{url_for('stock_bp.release_order', c_number=stock.number)}}"
                                                    class="btn-sm h-btn-sm btn-success">Release Order</a>
                                            </div>
                                        </td>
                                        {% else %}
                                        <td></td>
                                        {% endif %}
                                        <td>
                                            {% if stock.container_id in d_stocks %}
                                            <a href="" class="p-2 btn btn-block btn-sm btn-warning">
                                                <i class="mr-2 fas fa-info-circle"></i> PENDING
                                            </a>
                                            {% else %}
                                            <button class="btn btn-sm btn-danger" data-toggle="modal"
                                                data-target="#SdeleteModal{{stock.container_id}}">
                                                DELETE <i class="ml-2 fas fa-trash"></i>
                                            </button>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                        </table>
                    </div>
                </div>

                <!-- Modal: Add Container -->
                {% include 'modals/add_container_modal.html' %}

                <!-- Modal:Upload Container -->
                {% include 'modals/upload_container_modal.html' %}

                <!-- Modal:Status Edit -->
                {% include 'modals/status_modal.html' %}

                <!-- Modal: Container Edit/View -->
                {% include 'modals/view_container_modal.html' %}

                <!-- Modal: Add Release Order-->
                {% include 'modals/add_release_modal.html' %}

                <!-- Modal: Delete-->
                {% include 'modals/stock-delete.html' %}
            </main>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}