{% extends "base.html" %} {% block content %} {% set active_page = 'settings' %}

<!-- Header -->
{% include 'partials/header.html' %}

<!-- Main -->
<div class="container-fluid">
    <div class="row">

        <!-- Sidebar -->
        <div class="col-md-3 col-lg-2">
            {% include 'partials/sidebar.html' %}
        </div>

        <!-- Main -->
        <div class="col-md-10">
            <main>
                <div class="pt-2 pb-2 mt-3 mb-3 border-bottom">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="flex-wrap d-flex justify-content-between flex-md-nowrap align-items-center ">
                                <h1 class="m-0 mt-1 mb-3 main-header"><span class="mr-2 fal fa-cog"></span> General
                                    Settings
                                </h1>
                            </div>
                        </div>
                        <div class="col-md-6">
                        </div>
                    </div>
                </div>

                <!-- Tabs -->
                <ul class="mb-3 nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('settings_bp.settings')}}">Organization</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{{url_for('settings_bp.display')}}">Display</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('settings_bp.advanced')}}">Advanced</a>
                    </li>
                </ul>

                <form method="POST" action="{{url_for('settings_bp.display')}}" autocomplete="off">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Currency</label>
                                <select class="custom-select form-control" name="currency" id="currencySelector"
                                    required>
                                    {% if settings.currency.strip() == "TZS" %}
                                    <option selected value="TZS">TZS</option>
                                    <option value="USD">USD</option>
                                    {% elif settings.currency.strip() in ["USD", None] %}
                                    <option value="TZS">TZS</option>
                                    <option selected value="USD">USD</option>
                                    {% endif %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Tax</label>
                                <input type="text" value="{{settings.tax}}%" class="form-control h-input" name="tax">
                            </div>
                        </div>
                    </div>
                    <hr>
                    <button type="submit" class="pl-5 pr-5 mb-3 btn btn-success h-btn-sm" name="submit"
                        id="btnSubmit">Save</button>
                </form>

            </main>
        </div>

    </div>
</div>



{% endblock %}