<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Harlos ERP - {{title}}</title>
    <link rel="icon" type="image/png" sizes="32x32"
        href="{{ url_for('static', filename='img/favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16"
        href="{{ url_for('static', filename='img/favicon/favicon-16x16.png') }}">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="author" content="Neurotech Company">
    <!-- Bootsrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='vendors/bootstrap/css/bootstrap.min.css') }}">
    <!-- Main CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <!-- Vendors -->
    <link rel="stylesheet" href="{{ url_for('static', filename='vendors/normalize/normalize.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendors/datatables/datatables.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendors/chosen/chosen.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='vendors/flatpickr/flatpickr.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='vendors/pace/pace-theme-default.min.css') }}">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='vendors/tourguide/tourguide.css') }}"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='vendors/jsCalendar/jsCalendar.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='vendors/offlinejs/offline-theme-chrome.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendors/offlinejs/offline-language-english.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendors/tagify/tagify.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendors/select2/select2.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/fontawesome/css/all.min.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script>
        // Prevent form resubmit on reload
        if (window.history.replaceState) {
            window.history.replaceState(null, null, window.location.href);
        }
    </script>
</head>