{% extends "base.html" %} {% block content %} {% set active_page = 'forms' %}

<!-- Header -->
{% include 'partials/header.html' %}

<!-- Main -->
<div class="container-fluid">
    <div class="row">

        <!-- Sidebar -->
        <div class="col-md-3 col-lg-2">
            {% include 'partials/sidebar.html' %}
        </div>

        <!-- Main -->
        <div class="col-md-10">
            <main>
                <div class="pt-2 pb-2 mt-3 mb-3 border-bottom">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="flex-wrap d-flex justify-content-between flex-md-nowrap align-items-center ">
                                <h1 class="m-0 mt-1 mb-3 main-header"><span class="mr-2 fal fa-file"></span> Cash
                                    Register Form
                                </h1>
                            </div>
                        </div>
                        <div class="col-md-6">
                            {% if cash_register_data.status == "Pending" or cash_register_data.status == None %}
                            <div>
                                <div class="float-right mb-3 mr-3 shadow-sm btn btn-danger h-btn-lg" id="formReject">
                                    <a href="{{url_for('forms_bp.form_decision', reference=cash_register_data.reference.replace('/', '-'), decision=" Rejected " )}}"
                                        style="color: whitesmoke;">
                                        Reject
                                        <i class="ml-2 fa fa-times-circle"></i>
                                    </a>
                                </div>
                                <div class="float-right mb-3 mr-3 shadow-sm btn btn-success h-btn-lg" id="formApprove">
                                    <a href="{{url_for('forms_bp.form_decision',reference=cash_register_data.reference.replace('/', '-'), decision=" Approved ")}}"
                                        style="color: whitesmoke;">
                                        Approve
                                        <i class="ml-2 fa fa-check-circle"></i>
                                    </a>
                                </div>
                            </div>
                            {% elif cash_register_data.status == "Approved" %}
                            <div class="float-right mb-3 mr-3 shadow-sm btn btn-success h-btn-lg" id="formApproved">
                                Approved
                                <i class="ml-2 fa fa-check-circle"></i>
                            </div>
                            {% elif cash_register_data.status == "Rejected" %}
                            <div class="float-right mb-3 mr-3 shadow-sm btn btn-danger h-btn-lg" id="formRejected">
                                Rejected <i class="ml-2 fa fa-times-circle"></i>
                            </div>
                            {% endif %}
                            <a href="{{url_for('forms_bp.forms')}}" class="float-right mr-3" style="margin-top: 12px;">
                                <i class="mr-2 far fa-arrow-left"></i>Go Back
                            </a>
                        </div>
                    </div>
                </div>
                <div style="margin: 20px 30px;">
                    <form action="" method="POST">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Company Name</label>
                                    <input type="text" class="form-control h-input h-input-sm" name="paid_to"
                                        value="{{cash_register_data.paid_to}}" disabled>
                                </div>
                                <div class="form-group">
                                    <label for="">Amount</label>
                                    <input type="text" class="form-control h-input" id="input" name="amount"
                                        value="{{cash_register_data.amount}}" disabled>
                                </div>
                                <div class="form-group">
                                    <label for="">Amount in words</label>
                                    <textarea class="form-control h-input h-input-sm" name="amount_in_words" cols="5"
                                        id="output" disabled>{{cash_register_data.amount_in_words}}</textarea>
                                </div>

                                <div class="form-group">
                                    <label for="">Description</label>
                                    <textarea class="form-control h-input h-input-sm" name="" cols="5"
                                        disabled></textarea>
                                </div>

                                <hr>
                                <div class="form-group">
                                    <label for="">Prepared By</label>
                                    <input type="text" class="form-control h-input h-input-sm" name="prepared_by"
                                        value="{{current_user.fullname}}" disabled>
                                </div>
                                <div class="form-group">
                                    <label for="">Received From</label>
                                    <input type="text" class="form-control h-input h-input-sm" name="requested_by"
                                        value=" {{current_user.fullname}}" disabled>
                                </div>
                            </div>
                        </div>
                        <hr>
                    </form>
                </div>

            </main>
        </div>
    </div>
</div>

<!-- PDF Viewer -->
<script src="{{ url_for('static', filename='vendors/pdfobject.min.js') }}"></script>
<script>
    PDFObject.embed("{{ url_for('static', filename=cash_register_data.attachment) }}", "#pdfDiv");
</script>

<!-- Numbers to words -->
<script src="{{ url_for('static', filename='vendors/numberToWords.js') }}"></script>
<script>
    var input = document.getElementById('input');
    var output = document.getElementById('output');

    input.addEventListener('input', function () {
        output.innerHTML = numberToWords(parseInt(input.value, 10)) + " only";
    });
</script>
{% endblock %}