{% extends "base.html" %} {% block content %} {% set active_page = 'forms' %}

<!-- Header -->
{% include 'partials/header.html' %}

<!-- Main -->
<div class="container-fluid">
    <div class="row">

        <!-- Sidebar -->
        <div class="col-md-3 col-lg-2">
            {% include 'partials/sidebar.html' %}
        </div>

        <!-- Main -->
        <div class="col-md-10">
            <main>
                <div class="pt-2 pb-2 mt-3 mb-3 border-bottom">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="flex-wrap d-flex justify-content-between flex-md-nowrap align-items-center ">
                                <h1 class="m-0 mt-1 mb-3 main-header"><span class="mr-2 fal fa-file"></span> Claim Form
                                </h1>
                            </div>
                        </div>
                        <div class="col-md-6">
                            {% if claim_form_data.status in ["Pending", None] %}
                            <div class="float-right mb-3 mr-3 shadow-sm btn btn-danger h-btn-lg" id="formReject">
                                <a href="{{url_for('forms_bp.form_decision', reference=claim_form_data.reference.replace('/', '-'), decision=" Rejected " )}}"
                                    style="color: whitesmoke;">
                                    Reject
                                    <i class="ml-2 fa fa-times-circle"></i>
                                </a>
                            </div>
                            <div class="float-right mb-3 mr-3 shadow-sm btn btn-success h-btn-lg" id="formApprovee">
                                <a href="{{url_for('forms_bp.form_decision',reference=claim_form_data.reference.replace('/', '-'), decision=" Approved ")}}"
                                    style="color: whitesmoke;">
                                    Approve
                                    <i class="ml-2 fa fa-check-circle"></i>
                                </a>
                            </div>
                            {% elif claim_form_data.status == "Approved" %}
                            <div class="float-right mb-3 mr-3 shadow-sm btn btn-success h-btn-lg" id="formApproved">
                                Approved
                                <i class="ml-2 fa fa-check-circle"></i>
                            </div>
                            {% elif claim_form_data.status == "Rejected" %}
                            <div class="float-right mb-3 mr-3 shadow-sm btn btn-danger h-btn-lg" id="formRejected">
                                Rejected <i class="ml-2 fa fa-times-circle"></i>
                            </div>
                            {% endif %}
                            <a href="{{url_for('forms_bp.forms')}}" class="float-right mr-3" style="margin-top: 12px;">
                                <i class="mr-2 far fa-arrow-left"></i>Go Back
                            </a>
                        </div>
                    </div>
                </div>

                <div style="margin: 20px 30px;">
                    <form action="" method="POST">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Employee Name</label>
                                    <input type="text" class="form-control h-input h-input-sm" name=""
                                        value="{{claim_form_data.employee_name}}" disabled>
                                </div>
                                <div class="form-group">
                                    <label for="">ID</label>
                                    <input type="text" class="form-control h-input h-input-sm" name=""
                                        value="{{claim_form_data.employee_id}}" disabled>
                                </div>
                                <hr>
                                <div class="form-group">
                                    <label for="">Manager Name</label>
                                    <input type="text" class="form-control h-input h-input-sm" name=""
                                        value="{{claim_form_data.manager_name}}" disabled>
                                </div>
                                <div class="form-group">
                                    <label for="">Department</label>
                                    <input type="text" class="form-control h-input h-input-sm" name=""
                                        value="{{claim_form_data.department}}" disabled>
                                </div>
                                <div class="form-group">
                                    <label for="">Signature</label>
                                    <div class="overflow-hidden form-signed">
                                        <img src="{{ url_for('static', filename='img/signature.png') }}" width="100">
                                    </div>
                                </div>
                                <hr>
                                <div class="form-group">
                                    <label for="">Business Purpose</label>
                                    <textarea class="form-control h-input h-input-sm" name="" cols="5"
                                        disabled>{{claim_form_data.bussiness_purpose}}</textarea>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Expense Period</label>
                                    <input type="text" class="mb-3 form-control h-input h-input-sm dateSelector" name=""
                                        placeholder="From" value="{{claim_form_data.expense_start_date}}" disabled>
                                    <input type="text" class="form-control h-input h-input-sm dateSelector" name=""
                                        placeholder="To" value="{{claim_form_data.expense_end_date}}" disabled>
                                </div>
                            </div>
                        </div>
                        <hr> {% for expense_item in json.loads(claim_form_data.claim_expenditure) %}
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="">Date</label>
                                    <input type="text" class="form-control h-input h-input-sm dateSelector" name=""
                                        value="{{expense_item.date}}" disabled>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="">Description</label>
                                    <input type="text" class="form-control h-input h-input-sm" name=""
                                        value="{{expense_item.description}}" disabled>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="">Category</label>
                                    <select class="chosen-select form-control" name="" required>
                                        <option value="{{expense_item.category}}">{{expense_item.category}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="">Amount</label>
                                    <input type="text" class="form-control h-input h-input-sm comNum" name=""
                                        value="{{expense_item.cost}}" disabled>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <hr>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Employee Signature</label>
                                    <input type="text" class="form-control h-input h-input-sm" name="" value="Loserian"
                                        disabled>
                                </div>
                                <div class="form-group">
                                    <label for="">Cashier Signature</label>
                                    <input type="text" class="form-control h-input h-input-sm" name="" value="Loserian"
                                        disabled>
                                </div>
                                <div class="form-group">
                                    <label for="">Approval Signature</label>
                                    <input type="text" class="form-control h-input h-input-sm" name="" value="Loserian"
                                        disabled>
                                </div>
                            </div>
                        </div>
                        <hr>
                    </form>
                </div>
                <div class="col-md-6">
                    <div class="mb-3 ml-3 shadow-sm btn btn-success btn-sm" id="pdfBtn">
                        View attached document
                    </div>
                    <div id="pdfDiv" style="display: none;"></div>
                </div>
            </main>
        </div>
    </div>
</div>
<!-- PDF Viewer -->
<script src="{{ url_for('static', filename='vendors/pdfobject.min.js') }}"></script>
<script>
    PDFObject.embed("{{ url_for('static', filename=claim_form_data.attachment)}}", "#pdfDiv");
</script>
{% endblock %}