{% extends "base.html" %} {% block content %} {% set active_page = 'forms' %}

<!-- Header -->
{% include 'partials/header.html' %}

<!-- Main -->
<div class="container-fluid">
    <div class="row">

        <!-- Sidebar -->
        <div class="col-md-3 col-lg-2">
            {% include 'partials/sidebar.html' %}
        </div>

        <!-- Main -->
        <div class="col-md-10">
            <main>
                <div class="pt-2 pb-2 mt-3 mb-3 border-bottom">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="flex-wrap d-flex justify-content-between flex-md-nowrap align-items-center ">
                                <h1 class="m-0 mt-1 mb-3 main-header"><span class="mr-2 fal fa-file"></span> Material
                                    Requisition Form
                                </h1>
                            </div>
                        </div>
                        <div class="col-md-6">
                            {% if material_requisition_data.status == "Pending" or material_requisition_data.status == None %}
                            <div class="float-right mb-3 mr-3 shadow-sm btn btn-danger h-btn-lg" id="formReject">
                                <a href="{{url_for('forms_bp.form_decision', reference=material_requisition_data.reference.replace('/', '-'), decision=" Rejected " )}}"
                                    style="color: whitesmoke;">
                                    Reject
                                    <i class="ml-2 fa fa-times-circle"></i>
                                </a>
                            </div>
                            <div class="float-right mb-3 mr-3 shadow-sm btn btn-success h-btn-lg" id="formApprove">
                                <a href="{{url_for('forms_bp.form_decision',reference=material_requisition_data.reference.replace('/', '-'), decision=" Approved ")}}"
                                    style="color: whitesmoke;">
                                    Approve
                                    <i class="ml-2 fa fa-check-circle"></i>
                                </a>
                            </div>
                            {% elif material_requisition_data.status == "Approved" %}
                            <div class="float-right mb-3 mr-3 shadow-sm btn btn-success h-btn-lg" id="formApproved">
                                Approved
                                <i class="ml-2 fa fa-check-circle"></i>
                            </div>
                            {% elif material_requisition_data.status == "Rejected" %}
                            <div class="float-right mb-3 mr-3 shadow-sm btn btn-danger h-btn-lg" id="formRejected">
                                Rejected <i class="ml-2 fa fa-times-circle"></i>
                            </div>
                            {% endif %}
                            <a href="{{url_for('forms_bp.forms')}}" class="float-right mr-3" style="margin-top: 12px;">
                                <i class="mr-2 far fa-arrow-left"></i>Go Back
                            </a>
                        </div>
                    </div>
                </div>

                <div style="margin: 20px 30px;">
                    <form action="" method="POST">

                        {% for requisition in json.loads(material_requisition_data.requisitions) %}
                        <div class="row field-group">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="">Item Name</label>
                                    <input type="text" class="form-control h-input h-input-sm" name="item_name_{?}"
                                        id="a{?}" value="{{requisition.item_name}}" disabled>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="">Description</label>
                                    <input type="text" class="form-control h-input h-input-sm" name="description_{?}"
                                        id="a{?}" value="{{requisition.description}}" disabled>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="form-group">
                                    <label for="">Quantity</label>
                                    <input type="text" class="form-control h-input h-input-sm" name="quantity_{?}"
                                        id="a{?}" value="{{requisition.quantity}}" disabled>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="">Date Required</label>
                                    <input type="date" class="form-control h-input h-input-sm comNum"
                                        name="date_required_{?}" id="a{?}"
                                        value="{{material_requisition_data.date_created}}" disabled>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <hr>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Authorized By</label>
                                    <input type="text" class="form-control h-input h-input-sm" name="prepared_by"
                                        value="" disabled>
                                </div>
                                <div class="form-group">
                                    <label for="">Prepared By</label>
                                    <input type="text" class="form-control h-input h-input-sm" name="requested_by"
                                        value="{{current_user.fullname}}" disabled>
                                </div>
                                <div class="form-group">
                                    <label for="">Approved By</label>
                                    <input type="text" class="form-control h-input h-input-sm" name="requested_to"
                                        value="" dirname="">
                                </div>
                            </div>
                        </div>
                        <hr>
                    </form>
                </div>

            </main>
        </div>
    </div>
</div>
<!-- PDF Viewer -->
<script src="{{ url_for('static', filename='vendors/pdfobject.min.js') }}"></script>
<script>
    PDFObject.embed("{{ url_for('static', filename=material_requisition_data.attachment) }}", "#pdfDiv");
</script>

{% endblock %}